html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}



.app-background {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    180deg,
    #ffe6f3 0%, 
    #f3d9ff 30%,
    #d6e8ff 70%,
    #fff9e6 100%
  );
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: #333;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  padding: 40px 20px;
}